html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Particleground */

* { 
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #16a085;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.typing{
    display:inline-block;
}
.toolbox {
    border: 4px solid;
    width: 250px; 
    height: 250px;   
    margin: 0 auto;
}

.intro {
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 20px;
    width: 100%;
    text-align: center;
}

li{  
    display: inline;
    padding: 20px;
}
i {
    font-size: 3rem;
}
hr {
    clear: both;
    visibility: hidden;
}
a:link {
    color: #fff;
    text-decoration: none
}
a:visited {
    color: #fff;
}

ul li a {
 display:block;
margin-top: 10px;
}

ul li a:hover, ul li a:focus {
 color:#005544;
  -webkit-transition: all 0.4s;
     -moz-transition: all 0.4s;
       -o-transition: all 0.4s;
          transition: all 0.4s;
}


h1 {
  text-transform: uppercase;
  font-size: 85px;
  font-weight: 700;
  letter-spacing: 0.015em;
}
h1::after {
  content: '';
  width: 80px;
  display: block;
  background: #fff;
  height: 10px;
  margin: 30px auto;
  line-height: 1.1;
}
p {
  margin: 0 0 30px 0;
  font-size: 24px;
}
/* Typing CSS */
.element {
    margin: 0 0 30px 0;
    font-size: 24px;
    display: inline-block;
}

.typed-cursor {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
	font-size: 24px;
	color: #fff;
	margin-bottom: 24px;
	margin-top: 0;
}


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 1.2s infinite;
    -moz-animation: blink 1.2s infinite;
    animation: blink 1.2s infinite;
}
/*Call out box*/
a.tooltip:hover {
    text-decoration:none;
}
a.tooltip span {
    z-index:10;
    text-align: center;
    display:none;
    padding:14px 20px;
    margin-top:60px;
    margin-left:-160px;
    width:300px; 
    line-height:16px;
    vertical-align: middle;
}
a.tooltip:hover span{
    display:inline;
    position:absolute; 
    border:2px solid #FFF;
    color:#16A085;
    background:#fff;
}
.callout {
    z-index:20;
    position:absolute;
    border:0;
    top:-14px;
    left:120px;
}
.badge {
    margin: auto;
}


a.tooltip span
{
    border-radius:2px;        
    box-shadow: 0px 0px 2px 2px #fff;
    /*opacity: 0.8;*/
}
/* Responsive */
@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 70px;
  }
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 48px;
  }
  h1::after {
    height: 8px;
  }
}

@media only screen and (max-width: 568px) {
  .intro {
    padding: 0 10px;
  }
  h1 {
    font-size: 30px;
  }
  h1::after {
    height: 6px;
  }
  p {
    font-size: 18px;
  }
  .btn {
    font-size: 16px;
  }
}

@media only screen and (max-width: 320px) { 
  h1 {
    font-size: 28px;
  }
  h1::after {
    height: 4px;
  }
    .badge {
        visibility: hidden;
    }
    
/*Animated Blinker */
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
